<h1>Sort by category</h1>
<table class="table table-b
 table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% results.map(item => {%>
            <tr>
                <td> <%= item.description %> </td>
                <td><%= item.amount %></td>
                <td><%= item.category %></td>
                <td><%= item.date %></td>
            </tr>
        <% }) %>
    </tbody>


</table>